.name{
    width: 300px;
}
.address{
    width: 300px;
}
.postal{
    width: 300px;
}
.phone{
    width: 300px;
}
.education{
    width: 300px;
}
.year{
    width: 300px;
}
.heading{
    color: brown;
}
